{% extends "base.html" %}

{% block content %}
    <div class="quiz-box">
    <h1>Learderboard</h1>
    <br>
    <div class="leader_table ,question-box",>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
                {% for user in sorted_users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{user[0]}}</td>
                        <td>{{user[1]}}</td>
                    </tr>
                {% else %}
                <tr>
                    <td colspan="3">No Data Found</td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}