{% extends "base.html" %}

{% block content %}
    <div class="quiz-box">
        <h1>My Profile</h1>
        <div class="profile">
            <p>You play quiz {{time[0]}} hours {{time[1]}} minutes {{time[2]}} secounds</p>
            <p>Your Score is {{score}}</p>
            <p>You attempt total {{asked}} question</p>
            <p>Your given answer is correct for {{score}} question</p>
            <p>Your given answer is incorrect for {{asked - score}} question</p>
            <p>Your percentage 
                {% if asked != 0  %}
                    {{((score / asked)*100) | int }}
                {% else %}
                    0
                {% endif %} %
            </p>
        </div>
    </div>
    
{% endblock %}